<section class="bg-light p-3 p-md-4 p-xl-5 my-5">
  <div class="login-container">
    <div class="login-box">
      <div class="login-image">
        <img src="/assets/img/logo.jpg">
      </div>
      <div class="login-form">
        <h2>Forgot Password</h2>
        <form action="/forgot-password" method="POST">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary d-grid mb-2">Send Reset Link</button>
        </form>
        <div class="mb-3">
          <a href="/login" class="btn btn-outline-secondary">Volver</a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .login-container {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
  }

  .login-box {
    max-width: 600px;
    width: 100%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .login-image {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .login-image img {
    width: 150px;
  }

  .login-form {
    flex: 1;
    padding: 40px;
    background: #fff;
  }

  .login-form h2 {
    margin-bottom: 20px;
  }

  .login-form .form-group {
    margin-bottom: 20px;
  }
</style>